<div class="container">
  <div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <div class= "card">
        <h1> Altere os dados da loja:</h1>
          <%= render '/shared/form_store' %>
      </div>
    </div>
  </div>
</div>

