<div class="container">
  <div class="row">
    <% @stores.each do |store| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
          <div class="card-description">
            <h2> <%= store.name %> </h2>
            <p> <%= store.user.email %> </p>
          </div>

          <% avatar_url = store.user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "card-user"%>

          <%= link_to "", store_path(store), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
