<div class="container">
  <h1> Selecione o vendedor abaixo: </h1>
  <div class="row">
    <% @stores.each do |store| %>
       <div class="col-xs-12 col-sm-4">
        <%= render 'shared/card_store', store: store %>
       </div>
    <% end %>
  </div>
</div>


