<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/articles/health_tools/12_powerhouse_vegetables_slideshow/intro_cream_of_crop.jpg');">
  <div class="banner-content">
    <h2>Feirincasa</h2>
    <h1>Vegetais Frescos a um Clique</h1>
    <%= link_to 'Comprar', new_store_path, class: "btn btn-success btn-lg"%>
    <h4>Ou selecione o local mais próximo</h4>

  </div>
</div>

<div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -23.5505, lng: -46.633};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });

        var infowindow = new google.maps.InfoWindow({
          content: '<div class="marker-infowindow"><h6 class="header">Hello World!</h6><p>Olá</p> <img src="http://smallfruits.wsu.edu/wp-content/uploads/2014/05/Picture1.png" class="marker-image" /></div>',
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });

        marker.addListener('mouseover', function() {
          infowindow.open(map, marker);
        });

        marker.addListener('mouseout', function() {
          infowindow.close();
        });

      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap">
    </script>

