<div class="row">
  <div class="card">
    <% @items.each do |item| %>
    <%= render partial: "product", locals: {item: item} %>
    <%end%>
    <div class="card-yellow">
      <button type="button" class="btn btn-primary">Finalizar</button>
        <%= link_to "Escolher mais produtos", stores_path,  class: "btn btn-primary" %>
    </div>
  </div>
</div>



