$('#product-<%= @product.id %> .quantity').text(<%= @item.quantity %>)
$(".cart-items-count").text(<%= current_user.current_cart.items.count %>);
toastr.options.closeHtml = '<button><i class="icon-off"></i></button>';
toastr.options.preventDuplicates = true;
toastr.options.timeOut = 30;
toastr.success("Adicionado produto <%= @product.name %>! <i class='fa fa-trash'></i>");

