.banner2{
  text-align: center;
  height: 70vh;

  p {
    margin-top: 10px;
    font-size: 1em;
  }


  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

