.card {
  background-size: cover !important;
  background-position: center;
  color: black;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  .icon {
    font-size: 30px;
    text-shadow: none;
    color: #32B796;
  }


}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}

.card h4 {
  font-size: 16px;
  color: black;
}

.card h3 {
  font-size: 24px;
  color: green;

}

.card-description h2 {
  font-size: 24px;

}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
  color: black;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.3;
  background-color: #0099cc;
  margin: 0px;
}

.icon {
  z-index: 4;
  margin: 0;
  bottom: 5px;
  left: 10px;
  display: inline;
  margin:2px;
  color:#0099cc;
}

.category-icon {
  width: 30px;
  padding: 5px;
}

.icon-map {
  z-index: 4;
  margin: 0;
  position: absolute;
  left: 2px;
  bottom: 2px;
  padding: 2px;
}

.avatar-map {
  position: absolute;
  margin: 0;
  top: 5px;
  right: 5px;
  width: 40px;
  border-radius: 50%;

}

.card-map {
  height: 120px;
  left: 2px;
  top: 2px;
  margin: 0px;
  vertical-align: middle;
  text-align: center;
}


.card-yellow {
  background-color: #ffffe6;
  left: 100px;

.avatar-store {
  width: 100px;
  border-radius: 50%;
  horizontal-align: middle;
  margin: auto;
  text-align: center;
  display:block;

}
