// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

.login {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.7) 100%), url("feira_em_casa_vegetais_delivery_mercado.jpeg");
  padding: 30px;
  color: white;
  text-align: center;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login p {
  color: #fbfbfb;
}


.iconx {
  color: white;
}


