<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou a alteração de sua senha</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se vocẽ não solicitou esta alteração, ignore este email. </p>
<p>Sua senha não será alterada até que você siga o link acima. </p>
