<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada devido a tentativas excessivas de acesso. </p>

<p>Clique no link abaixo para regularizar:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
