
<div class="container">
<div class="product-details">
 <div class="row">

  <div class="col-xs-12 col-sm-6 col-md-4">
    <br></br>
    <h4>Produto:</h4><strong><h1><%= @product.name %></h1></strong>
    <br></br>
    <h4>Categoria:</h4><h5><%= @product.category %></h5>
    <h4>Venda por:</h4><h5><%= @product.unity %></h5>
    <h4>preço:</h4><h5><%= @product.price %></h5>

 </div>
</div>

<div class="product-details">
 <div class="row">

 </div>
 </div>

</div>
</div>
